<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>

<p>Title</p>
<%= f.text_field:title %>

<p>Body</p>
<%= f.text_area:body %>

<p></p>
<%= f.submit "Update Book" %>
</p>

<% end %>

<a href= "book_path(@book.id)">Show</a>
|
<a href= "/books">Back</a>